Source: plymouth-theme-nitrux
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: plymouth-theme-nitrux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plymouth theme for Nitrux
 Plymouth theme branded for Nitrux.
