Source: plymouth-theme-nitrux
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=13)
Standards-Version: 4.6.2

Package: plymouth-theme-nitrux
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, plymouth
Description: Plymouth theme for Nitrux.
 Plymouth theme branded for Nitrux.
